<ion-view title="Notify us">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Dont Forget!! Stay up to date and monitor your progress by adding information on your recent matches.</p>
        </div>
        <form class="list">
            <div style="text-align:center;">
                <img src="img/2sm6zDrRzm1pM13irjXO_2012_rugby.JPG" width="100%" height="auto">
            </div>
        </form>
        <a ui-sref="menu.addMatch" class="button button-positive button-block ">Add Match</a>
        <a ui-sref="menu.playerProgress" class="button button-positive button-outline button-block ">No thanks, maybe later</a>
    </ion-content>
</ion-view>