<ion-view title="Player Progress">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/qt9WRfv2TEaHmXK6vKuy_IRFUInterm.png) no-repeat center;" class="has-header">
        <div class="button-bar">
            <button class="button button-positive button-block ">Personal</button>
            <button class="button button-stable button-block ">Statistics</button>
            <button class="button button-stable button-block ">Other</button>
        </div>
    </ion-content>
</ion-view>