<ion-view title="Your Teams">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Primary Team</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select" name="SelectProvince">
                        <span class="input-label">Province</span>
                        <select>
                            <option>Connacht</option>
                            <option>Ulster</option>
                            <option>Leinster</option>
                            <option>Munster</option>
                        </select>
                    </label>
                    <label class="item item-input" name="ClubName">
                        <span class="input-label">Club Name</span>
                        <input type="text" placeholder="e.g Young Muster">
                    </label>
                    <label class="item item-select" name="SelectAgeGroup">
                        <span class="input-label">Age group</span>
                        <select>
                            <option>Under 5's</option>
                            <option>Under 6's</option>
                            <option>Under 7's</option>
                            <option>Under 8's</option>
                            <option>Under 9's</option>
                            <option>Under 10's</option>
                            <option>Under 11's</option>
                            <option>Under 12's</option>
                            <option>Under 13's</option>
                            <option>Under 14's</option>
                            <option>Under 15's</option>
                            <option>Under 16's</option>
                            <option>Under 17's</option>
                            <option>Under 18's</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date Registerd</span>
                        <input type="date" placeholder="dd/mm/yy">
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Secondary Team</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select" name="SelectProvince">
                        <span class="input-label">Province</span>
                        <select>
                            <option>Connacht</option>
                            <option>Ulster</option>
                            <option>Leinster</option>
                            <option>Munster</option>
                        </select>
                    </label>
                    <label class="item item-input" name="ClubName">
                        <span class="input-label">Club Name</span>
                        <input type="text" placeholder="e.g Young Muster">
                    </label>
                    <label class="item item-select" name="SelectAgeGroup">
                        <span class="input-label">Age group</span>
                        <select>
                            <option>Under 5's</option>
                            <option>Under 6's</option>
                            <option>Under 7's</option>
                            <option>Under 8's</option>
                            <option>Under 9's</option>
                            <option>Under 10's</option>
                            <option>Under 11's</option>
                            <option>Under 12's</option>
                            <option>Under 13's</option>
                            <option>Under 14's</option>
                            <option>Under 15's</option>
                            <option>Under 16's</option>
                            <option>Under 17's</option>
                            <option>Under 18's</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Date Registerd</span>
                        <input type="date" placeholder="dd/mm/yy">
                    </label>
                </form>
            </div>
        </div>
        <form class="list"></form>
        <a ui-sref="menu.playerProgress" class="button button-positive button-block ">Submit</a>
    </ion-content>
</ion-view>